{% extends 'bootstrap/base.html' %} {% block title %} Quotes {% endblock %} {%
block styles %}
{{ super() }}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='quote.css')}}"
/>

{% endblock %} {% block content %}
<div class="container">
  {% block app_content %}{% endblock %}
</div>
{% endblock %} {% block scripts %}
<script
  async
  defer
  crossorigin="anonymous"
  src="https://connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v5.0"
></script>
<script
  async
  src="https://platform.twitter.com/widgets.js"
  charset="utf-8"
></script>
<script
  src="https://kit.fontawesome.com/61549f078d.js"
  crossorigin="anonymous"
></script>
{% endblock %}
